/*This is the css for Rikipedia*/
        h1{
            background-color:orange;
        }
        a:link {
            color:orange;
        }
        a:visited {
            color:blue;
        }
        a:hover {
            color:green;
        }
        a:active {
               color:orange;      
        }
           h3 {

              font-size:25px;  
            }
            h4 {
            font-size:25px;
            }
          a {
              font-size:19px;
          }
